body{
   color:white;
  background-color:#6441A5;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  vertical-align:middle;
}
.box{
  background-color:white;
  color:#6441A5;
  border-style:solid;
  border-color:#6441A5;
  border-width:1px;
  border-radius:10px;
}
a{
  color:#6441A5;
}
p{
  font-size: 14px;
}
.logo{
  border-radius:100%;
  height:50px;
  width:auto;
  margin:10px
}
